* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  /* border: 1px solid yellow; */
}

body {
  background-color: black;
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 100px;
}

li {
  list-style: none;
}