.item {
	display: flex;
	flex-direction: column;
	align-self: center;
	position: relative;
	margin-bottom: 40px;
}

.title {
	text-align: center;
	margin-bottom: 13px;
	padding: 0 3em;
	height: 40px;
}

.preview {
	margin: 0 auto;
	transition: all 0.3s ease;
	filter: opacity(1);
}

.item:hover .preview {
	filter: opacity(0.4);
}

.buttonsDiv {
	display: flex;
	visibility: hidden;
	gap: 0.75em;
	position: absolute;
	top: 205px;
	left: 52px;
	justify-content: space-around;
}

.item:hover .buttonsDiv {
	visibility: visible;
}

.demo, 
.source, 
.wip {
	border: none;
	width: 110px;
	height: 30px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}

.buttonsDiv a:hover {
	transform: scale(1.1);
}

.source {
	background-color: white;
	color: black;
}

.demo {
	background-color: #2f68b6;
}

.wip {
    background-color: crimson;
}

@media screen and (max-width: 1440px) {
	.buttonsDiv {
		left: 47px;
	}
}

@media screen and (max-width: 1024px) {
	.title {
		font-size: 1.25rem;
	}
	.preview {
		width: 300px;
		height: 220px;
	}
	.buttonsDiv {
		top: 220px;
		left: 77px;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 1.375rem;
	}
	.preview {
		width: 375px;
		height: 275px;
	}
	.buttonsDiv {
		top: 270px;
		left: 107px;
	}
}