.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 4em auto;
	position: relative;
}

.logo {
	margin: 0 auto;
}

.navBar {
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}

.navBar ul {
	text-align: right;
	display: flex;
	gap: 1.5em;
}

.github,
.portfolio {
	cursor: pointer;
	border-radius: 50%;
}

@media screen and (max-width: 1440px) {
	.navBar {
		right: 25px;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		flex-direction: column;
		margin: 4em auto 2em;
	}

	.navBar {
		position: static;
		align-self: center;
		margin-top: 2em;
	}
}